<!doctype html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" href="app/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js"></script>
  </head>
  <body>
    <!--Navbar  -->
    <nav class="navbar fixed-top navbar-light bg-faded primary-text">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/home">
            <img src="../assets/birdy.svg" width="50" height="50" class="align-top" alt="">
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#/home">Chirper</a></li>
           <li><a href="#/list">Latest</a></li>
      </div>
    </nav>
      <!-- SideBar -->
      <div ng-controller="UserController" id="sidebar" ng-hide="hideIt">
        <div class="users secondary-text">
          <a data-toggle="collapse" data-target="#listUsers"><h3 class="center">Users</h3></a>
          <ul id="listUsers" class="list-group">
            <li ng-repeat="user in userList" ng-click="UserPage(user.id)" class="collapse list-group-item">
              {{ user.username }}
            </li>
          </ul>
        </div>
              <!-- Chirp Widget   -->
        <div id="chirpWidget" data-ng-controller="PushController">
          <button data-toggle="collapse" data-target="#chirpForm" class="btn btn-default secondary-text">Wanna Chirp About It?</button>
          <div id="chirpForm" class="collapse secondary-text">
            <form>
              <div class="form-group">
                <label for="name-input">Name</label>
                <input type="text" class="form-control" id="name-input" ng-model="user" required></input>
              </div>
              <div class="form-group">
                <label for="chirp-input">Chirp It!</label>
                <input type="text" class="form-control" row="3" id="chirp-input" placeholder="Share your thoughts" ng-model="message" required></input>
                <label for="imgURL">Custom User Pic (url only)</label> 
                <input type="url" class="form-control" ng-model="imgURL" id="img-input"></input>
                <button class="btn btn-default" ng-click="SendChirp()">Chirp</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    <!--Angular Controllers load  -->
    <div ng-view></div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script type="text/javascript" src="app/app.js"></script>
  </body>
</html>