<div ng-controller="OneUserController">
    <h1 class="center">{{user}} Profile</h1>
    <button ng-click="DeleteHistory(user)" class="delete">DELETE USER HISTORY</button>
    <div class="list-container center speech-bubble" ng-repeat="chirp in userChirps">
        <img src={{chirp.imgURL}} class="profile-pics img-circle">
            <div class="inner-container">
                <p> {{chirp.message}} </p>
                <span> {{chirp.time}} </span>
                <button ng-click="DeleteChirp(chirp.id)" class="btn btn-default">Delete this Chirp</button>
            </div>
    </div>
    <div>
        <h1>
    </div>
</div>